*{
    padding: 0px;
    margin: 0px;
}

.corpo-contato{
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}

.texto-contato{
    text-align: center;  
    max-width: 100vh;
}

.incon-insta{
    max-width: 20vh;
    max-height: 20vw;
    display: flex;
}

