*{
    margin: 0px;
    padding: 0px;
}

.carrossel{
    margin-top: 10vw;
    margin-left: 45vh;
    margin-bottom: 10%;
    display: flex;
    max-width: 800px;
    max-height: 600px;

}

.bg-dark{
    border-radius: 8px;
}

.info{
    display: flex;
    margin-left: 45vh;
}

